{% extends 'layout.html' %}


{% block body %}
{% from "includes/_formhelpers.html" import render_field %}
<script type="text/javascript" src="{{ url_for('static', filename='js/scripts.js') }}"></script>
<section id="jumbo" class="jumbotron text-center">
    <div class="container">
        <h1 class="jumbotron-heading nice">Plot Planning</h1>
        <p class="lead text-muted">Welcome {{session.username}}</p>
    </div>
</section>
<div class="container-fluid">
    <div class="row" id="content">
        <div class="col-md-4">
            <div class="card">
                <h5 class="card-header bg-dark"></h5>
                <div class="card-body">
                    <form method="post" action="">
                        <div class="form-group row">
                            <label for="customer" class="col-sm-4 col-form-label">Customer</label>
                            <div class="col-sm-8">
                                <input required type="text" class="form-control" name="customer" id="customer"
                                       placeholder="Enter customer name">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="amount" class="col-sm-4 col-form-label">Amount</label>
                            <div class="col-sm-8">
                                <input required type="text" class="form-control" name="amount" id="amount"
                                       placeholder="Enter dunam amount">
                            </div>
                        </div>
                        <div class="form-group row">
                            {{form.variety.label (class_='col-sm-4 col-form-label' )}}
                            <div class="col-sm-8">
                                {{form.variety(class_='form-control')}}
                            </div>
                        </div>
                        <div class="form-group row">
                            {{form.date.label(class_='col-sm-4 col-form-label')}}
                            <div class="col-sm-8">
                                {{form.date (class_='form-control')}}
                            </div>
                        </div>
                        <fieldset class="form-group">
                            <div class="row">
                                <legend class="col-form-label col-sm-4 pt-0">Season</legend>
                                <div class="col-sm-8">
                                    <div class="custom-control custom-radio">
                                        <input type="radio" id="spring" name="stav" value="spring"
                                               class="custom-control-input" required>
                                        <label class="custom-control-label" for="spring">Spring</label>
                                    </div>
                                    <div class="custom-control custom-radio">
                                        <input type="radio" id="autumn" name="stav" value="autumn"
                                               class="custom-control-input" required>
                                        <label class="custom-control-label" for="autumn">Autumn</label>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                        <fieldset class="form-group">
                            <div class="row">
                                <legend class="col-form-label col-sm-4 pt-0">Sort/Harvest</legend>
                                <div class="col-sm-8">
                                    <div class="custom-control custom-radio">
                                        <input type="radio" id="sort" name="sort" value="sort"
                                               class="custom-control-input" required>
                                        <label class="custom-control-label" for="sort">Sort</label>
                                    </div>
                                    <div class="custom-control custom-radio">
                                        <input type="radio" id="harvest" name="sort" value="harvest"
                                               class="custom-control-input" required>
                                        <label class="custom-control-label" for="harvest">Direct Harvest</label>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                        <div class="form-group row">
                            <div class="col-sm-4"></div>
                            <div class="col-sm-8">
                                <div class="custom-control custom-checkbox mr-sm-2">
                                    {{form.organic (class_='custom-control-input')}}
                                    {{form.organic.label(class_='custom-control-label')}}
                                </div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-12">
                                <button type="submit" name="submit_button" class="btn btn-dark sub" value="Add">Add
                                </button>
                            </div>
                        </div>
                    </form>
                    <form method="post">
                        <button type="submit" name="submit_button" class="btn btn-dark sub" value="Submit"
                                onclick="load()">Submit
                        </button>
                        <button type="submit" name="submit_button" class="btn btn-dark sub" value="getHistory"
                        >Load Last Orders
                        </button>
                        <button type="submit" name="submit_button" class="btn btn-dark sub" value="saveToHistory"
                        >Save Orders
                        </button>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="card">
                <h5 class="card-header bg-dark"></h5>
                <div class="card-body">
                    <table class="table table-striped table-hover" id="table"
                   data-toggle="table"
                   data-pagination="true"
                   data-search="true"
                   data-sort-name="name"
                   data-sort-order="desc"
                   data-page-size="5"
                   data-page-list="[5, 10, 25, 50, 100, ALL]">
                        <thead class="thead-dark">
                        <tr>
                            <th scope="col">Customer</th>
                            <th scope="col">Amount</th>
                            <th scope="col">Variety</th>
                            <th scope="col">Date</th>
                            <th scope="col">Organic</th>
                            <th scope="col">Season</th>
                            <th scope="col">Sort</th>
                            <th scope="col">Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for order in orders %}
                        <tr>
                            <td>{{order.customer}}</td>
                            <td>{{order.amount}}</td>
                            <td>{{order.type}}</td>
                            <td>{{order.date}}</td>
                            <td>{{order.organic}}</td>
                            <td>{{order.stav}}</td>
                            <td>{{order.sort}}</td>
                            <td>
                                <form action="{{url_for('delete_order', id=order.id)}}" method="post">

                                    <button id="btn-trash" value="Delete" class="btn btn-default btn-sm">
                                        <i class="material-icons" style="color: red">delete_forever</i>
                                    </button>
                                </form>
                            </td>
                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="row hidden" id="loading">
        <div class="container">
            <div id="preloader">
                <div id="loader"></div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
