{% extends 'layout.html' %}

{% block body %}
<!--<a class="btn btn-success" href="/add_article"> Add Article</a>-->
<link href="https://unpkg.com/bootstrap-table@1.14.2/dist/bootstrap-table.min.css" rel="stylesheet">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" >
<script src="https://unpkg.com/bootstrap-table@1.14.2/dist/bootstrap-table.min.js"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/scripts.js') }}"></script>
<section id="jumbo" class="jumbotron text-center">
    <div class="container">
        <h1 class="jumbotron-heading nice">Plots</h1>
        <p class="lead text-muted">Welcome {{session.username}}</p>
    </div>
</section>
<button onclick="exportToExcel('table', 'tableResult')" class="btn btn-success">Export the result to excel file</button>
<div class="col-md-12">
    <div class="card">
        <h5 class="card-header bg-dark"></h5>
        <div class="card-body table-responsive">
            <table class="table table-striped table-hover" id="table"
                    data-toggle="table"
                    data-pagination="true"
                    data-search="true"
                    data-sort-name="name"
                    data-sort-order="desc"
                    data-page-list="[5, 10, 25, 50, 100, ALL]">
                <thead class="thead-dark">

                <tr>
                    <th scope="col">שם חלקה</th>
                    <th scope="col">כמות דונם</th>
                    <th scope="col">חודש זריעה</th>
                    <th scope="col">זן</th>
                    <th scope="col">סוג חלקה</th>
                    <th scope="col">חיטוי</th>
                </tr>
                </thead>
                <tbody>
                {% for plot in plots %}
                <tr>
                    <td>{{plot.plot_name}}</td>
                    <td>{{plot.amount}}</td>
                    <td>{{plot.month2sow}}</td>
                    <td>{{plot.species}}</td>
                    <td>{{plot.type}}</td>
                    <td>{{plot.edigan}}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}